.home {
  position: relative;
  height: 100vh;
  background: #fafafa;
  /* background: #f0a83a; */
}

.mural {
  text-align: center;
  font-family: "EB Garamond", serif;
  position: sticky;
  top: 0;
  z-index: 3;
}

.home-carousel {
  display: flex;
  overflow-x: scroll;
}

.home-carousel::-webkit-scrollbar {
  display: none;
}
