.book {
  height: 80vh;
  margin: 10px;
  border-radius: 10px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.book-content {
  font-family: "PT Serif", serif;
  transition: 450ms all;
  height: 100%;
}

.book-title-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  height: 100%;
}

.book-title {
  margin-bottom: 15px;
}

.story {
  height: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 10px;
  font-size: 18px;
}

.back-btn {
  margin: 20px 10px 0 10px;
}

.back-icon {
  width: 30px;
  height: 30px;
}

.nav-btns {
  margin: 10px;
}

.nav-btn-wrapper {
  text-align: right;
}

.nav-btn-wrapper > img:first-child {
  margin-right: 10px;
}
